<link rel="stylesheet" href="public/css/contact.css" />

<div class="home-wrapper rounded m-1">
  <div style="height: 1px"></div>
  <h1 class="text-center luigi-font mt-3">Entre em Contato!</h1>
  <h3 class="text-center luigi-font mt-3">
    Entre em contato com a nossa staff para receber notícias e saber sobre
    promoções novas!
  </h3>

  <section class="container mt-4">
    <div id="contact" class="contact-area section-padding">
      <div class="container">
        <div class="section-title text-center">
          <h1 class="text-center luigi-font mt-3">Preencha abaixo</h1>
        </div>
        <div class="row">
          <div class="col-lg-7">
            <div class="contact">
              <form class="form">
                <div class="row">
                  <div class="form-group col-md-6">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Nome"
                      required="required"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      placeholder="Email"
                      required="required"
                    />
                  </div>
                  <div class="form-group col-md-12">
                    <input
                      type="text"
                      name="subject"
                      class="form-control"
                      placeholder="Assunto"
                      required="required"
                    />
                  </div>
                  <div class="form-group col-md-12">
                    <textarea
                      rows="6"
                      name="message"
                      class="form-control"
                      placeholder="Sua Mensagem"
                      required="required"
                    ></textarea>
                  </div>
                  <div class="col-md-12 text-center">
                    <button
                      type="submit"
                      value="Enviar Mensagem"
                      name="submit"
                      id="submitButton"
                      class="btn btn-contact-bg"
                      title="Enviar!"
                    >
                      Enviar!
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="single_address">
              <i class="fa fa-map-marker"></i>
              <h4>Nosso Endereço</h4>
              <p>Reino do Cogumelo</p>
            </div>
            <div class="single_address">
              <i class="fa-solid fa-envelope me-1"></i>
              <h4>Mande sua mensagem</h4>
              <p>Luigi_greentunes@gmail.com</p>
            </div>
            <div class="single_address">
              <i class="fa-brands fa-whatsapp"></i>
              <h4>Manda um zap!</h4>
              <p>(61) 91111 1111</p>
            </div>
            <div class="single_address">
              <i class="fa-regular fa-clock"></i>
              <h4>Horário de funcionamento</h4>
              <p>Seg - Sex: 08.00 - 16.00.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center m-1">
    <a href="#!luigi_sings">
      <img
        style="width: 10%"
        src="public/animated/luigi_cowboy.gif"
        class="img-fluid"
        alt=""
      />
    </a>
  </div>
</div>
