<link rel="stylesheet" href="public/css/history.css" />

<div class="home-wrapper rounded m-1">
  <section class="container mt-4">
    <h1 class="luigi-font text-center">Bem vindo ao Green Tune!</h1>

    <div class="col-12">
      <div class="card mb-3 p-1 h-100 d-flex flex-column shadow rounded-5">
        <div class="row g-0">
          <div class="col-md-4 text-center p-3">
            <img
              style="max-height: 190px"
              src="public/imgs/luigi_jump.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text fs-lg-2">
                O Green Tunes inspira-se na filosofia de ensino que une
                pedagogia e humanismo. Nosso objetivo é transformar a vida de
                famílias e crianças por meio do prendizado musical. Oferecemos
                cursos como Canto, Flauta Doce, Violino, Viola, Violoncelo,
                Violão Clássico e Piano. Reconhecido nacional e
                internacionalmente, o Green Tunes é sinônimo de excelência no
                ensino da música.
              </p>

              <p class="card-text fs-lg-2">
                Nossa abordagem, alinhada à Filosofia Luigi, tem como objetivo
                promover o desenvolvimento integral do aluno, incentivando-o a
                explorar todo o seu potencial natural para aprender e se tornar
                um ser humano completo e realizado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container mt-4">
    <h1 class="luigi-font text-center">Lore</h1>
    <div class="card text-bg-dark">
      <img
        style="max-height: 600px; opacity: 0.2"
        src="public/imgs/card_image4.png"
        class="card-img"
        alt="Imagem de fundo do curso de instrumentos"
      />

      <div class="card-img-overlay">
        <div class="row">
          <div class="col-4">
            <div id="list-example" class="list-group">
              <a
                class="list-group-item list-group-item-action"
                href="#"
                onclick="event.preventDefault(); document.getElementById('comeco').scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' })"
                >Inicio</a
              >
              <a
                class="list-group-item list-group-item-action"
                onclick="document.getElementById('subplot').scrollIntoView({ behavior: 'smooth' , block: 'nearest', inline: 'start' })"
                >Meio</a
              >
              <a
                class="list-group-item list-group-item-action"
                onclick="document.getElementById('fim').scrollIntoView({ behavior: 'smooth' , block: 'nearest', inline: 'start' })"
                >Fim</a
              >
            </div>
          </div>
          <div class="col-8">
            <div
              data-bs-spy="scroll"
              data-bs-target="#navbar-example2"
              data-bs-smooth-scroll="true"
              class="we-scroll scrollspy-example p-3 rounded-2"
              tabindex="0"
            >
              <h5 id="comeco" class="card-title text-white-underline para-outline">
                A Jornada Musical do Curso de Instrumentos
              </h5>
              <p class="card-text para-outline">
                Em um ambiente imerso na tranquilidade intangível de um bosque
                encantado, envolto por árvores altaneiras que sussurram segredos
                ancestrais ao vento, encontra-se um espaço singular onde a
                música transcende o ordinário para se tornar uma expressão quase
                divina. Esse refúgio acolhedor e pleno de mística guarda a
                essência de uma narrativa profundamente cativante: a concepção
                de um curso transformador, capaz de impactar vidas ao conjugar a
                sublime harmonia das notas musicais com os mais elevados ideais
                de aprendizado humano. Esse projeto ambicioso nasceu do ímpeto
                visionário de um mestre insigne, o estimado Professor Luigi,
                cuja paixão pela música e pelo ensino o levou a criar um legado
                que mescla técnica refinada e uma conexão visceral com a arte.
              </p>

              <p class="card-text para-outline">
                Inspirado pela relação simbiótica entre os instrumentos e seus
                intérpretes, Luigi concebeu dois métodos extraordinários: o
                <strong>Técnicas Maestro 3000</strong>, uma abordagem
                metodológica prática para a excelência técnica, e o
                <strong>Player Master</strong>, uma ferramenta interativa que
                redefine o aprendizado ao estabelecer uma conexão revolucionária
                entre o aluno e suas criações musicais. Esses métodos não são
                apenas inovadores, mas também integram uma filosofia de ensino
                que coloca o estudante no centro da experiência, permitindo que
                cada um explore sua identidade artística de forma única e
                transformadora.
              </p>

              <p class="card-text para-outline">
                No limiar dessa jornada encantadora, os alunos ingressam em um
                universo de aprendizado impregnado de desafios enriquecedores e
                descobertas profundas. As salas de estudo, metaforicamente
                envoltas em mistério, personificam as etapas essenciais de
                domínio musical. Cada ambiente é um microcosmo de sabedoria,
                guardando lições inestimáveis que abrangem desde o meticuloso
                aperfeiçoamento técnico até o despertar da expressão artística
                mais autêntica.
              </p>

              <p class="card-text para-outline">
                À medida que os estudantes avançam, eles metaforicamente
                iluminam sua trajetória, desvendando baús preciosos repletos de
                conhecimento inédito, experiências transformadoras e habilidades
                sublimes. Essas descobertas não apenas ampliam seus horizontes
                musicais, mas também os conectam com uma comunidade vibrante de
                músicos, todos unidos pelo amor à arte e pela busca incessante
                da maestria.
              </p>

              <p class="card-text para-outline">
                Durante essa fascinante odisséia, os participantes são
                apresentados aos enigmáticos
                <strong>Três Medalhões Musicais</strong>:
                <strong>Harmonia</strong>, que permite fundir notas em uma
                sinfonia de perfeita consonância; <strong>Ritmo</strong>, o
                elemento estruturante que imprime pulsação à música; e
                <strong>Expressão</strong>, o sopro de alma que transforma a
                execução técnica em arte viva. Esses elementos funcionam como
                pilares fundamentais no progresso dos aprendizes, equipando-os
                para superar intricados desafios, como a interpretação de peças
                complexas e a adaptação magistral a estilos musicais diversos.
              </p>

              <p class="card-text para-outline">
                À medida que o clímax do curso se aproxima, os alunos deparam-se
                com a preparação meticulosa para o recital final, um evento de
                grande magnitude simbólica. Sob a orientação sábia e inspiradora
                do Professor Luigi, eles refinam suas habilidades técnicas,
                enfrentam a pressão do desempenho público e desvendam a
                autenticidade de sua voz musical singular. Esse recital não é
                apenas um marco de conclusão, mas também uma celebração do
                potencial humano e da jornada única de cada músico.
              </p>

              <p class="card-text para-outline">
                A culminância desse momento de consagração simboliza não apenas
                a maturidade artística dos músicos em formação, mas também o
                início de uma nova etapa repleta de possibilidades. Como
                recompensa por sua dedicação inabalável e pela superação de
                inúmeras adversidades, os alunos ganham acesso ao cobiçado
                <strong>Módulo Avançado Oculto</strong>. Nesse espaço reservado
                à maestria, eles se debruçam sobre versões mais exigentes das
                lições iniciais, revisitam suas competências com uma
                profundidade inédita e enfrentam desafios que testam os limites
                de sua expertise.
              </p>

              <p class="card-text para-outline">
                Cada etapa dessa fase final eleva o domínio instrumental dos
                alunos a níveis que tangenciam o profissionalismo absoluto,
                transformando-os não apenas em músicos, mas em artistas
                completos e visionários. Nesse estágio, eles são incentivados a
                desenvolver suas composições originais, explorar colaborações
                criativas e até mesmo contribuir para o legado pedagógico do
                curso, perpetuando sua essência para futuras gerações.
              </p>

              <p class="card-text para-outline">
                Assim, o curso transcende sua proposta inicial de apenas ensinar
                a tocar um instrumento. Ele se converte em uma epopeia repleta
                de superação, inspiração e beleza musical, permitindo que cada
                participante se torne o protagonista de sua própria sinfonia de
                vida. No final, o que se alcança não é apenas habilidade
                técnica, mas um estado de comunhão sublime entre o indivíduo e a
                arte, tornando o aprendizado uma jornada imortal. Nesse ciclo
                eterno de aprendizado e criatividade, os alunos não apenas
                encontram sua voz musical, mas também se descobrem como seres
                humanos mais completos e conectados ao universo da música.
              </p>

              <h5 id="subplot" class="card-title text-white-underline para-outline">
                O plot fica mais denso
              </h5>

              <p class="card-text para-outline">
                Era uma vez um menino. Ele era o filho do homem mais rico do
                universo. Mark Zuckerberg, Bill Gates, ele os fazia parecer
                pobres. Ele era um multitrilionário. E era o aniversário do
                menino. Seu pai perguntou a ele:
              </p>

              <p class="card-text para-outline">
                "Meu filho. Eu sou o homem mais rico do universo. Eu posso te
                comprar qualquer coisa que você queira para o seu aniversário.
                Uma loja inteira de LEGO, todos os videogames do mundo, qualquer
                coisa. O que você gostaria?"
              </p>

              <p class="card-text para-outline">O menino respondeu.</p>

              <p class="card-text para-outline">
                "Oh, pai. Eu seria o menino mais feliz do mundo se você pudesse
                me dar uma bolinha de pingue-pongue rosa."
              </p>

              <p class="card-text para-outline">
                Seu pai ficou bastante confuso com esse pedido. De todas as
                coisas que ele poderia ter escolhido, seu filho escolheu uma
                bolinha de pingue-pongue. Mesmo assim, ele concordou e deu a ele
                uma bolinha de pingue-pongue rosa. Seu filho ficou exultante e
                disse:
              </p>

              <p class="card-text para-outline">
                "Meu pai, você me fez o menino mais feliz do mundo. Posso subir
                para o meu quarto e brincar com minha bolinha de pingue-pongue
                rosa?"
              </p>

              <p class="card-text para-outline">
                "Claro, filho, vá em frente."
              </p>

              <p class="card-text para-outline">
                O menino então subiu para o seu quarto e brincou com sua bolinha
                de pingue-pongue rosa. Na manhã seguinte, quando seu pai foi
                verificar, o menino estava dormindo em sua cama e a bolinha de
                pingue-pongue rosa não estava em lugar nenhum.
              </p>

              <p class="card-text para-outline">
                No próximo aniversário do menino, seu pai perguntou novamente.
              </p>

              <p class="card-text para-outline">
                "Meu filho. Eu sou o homem mais rico do universo. Eu posso te
                comprar qualquer coisa que você queira para o seu aniversário. O
                que você gostaria?"
              </p>

              <p class="card-text para-outline">O menino respondeu.</p>

              <p class="card-text para-outline">
                "Oh, pai. Eu seria o menino mais feliz do mundo se você pudesse
                me dar uma caixa cheia de bolinhas de pingue-pongue rosas."
              </p>

              <p class="card-text para-outline">
                Seu pai ficou novamente confuso com isso. Ainda assim, ele
                comprou uma caixa de papelão e a encheu com bolinhas de
                pingue-pongue. Ele deu ao menino, que disse:
              </p>

              <p class="card-text para-outline">
                "Meu pai, você me fez o menino mais feliz do mundo. Posso subir
                para o meu quarto e brincar com minhas bolinhas de pingue-pongue
                rosas?"
              </p>

              <p class="card-text para-outline">
                O pai assentiu, e o menino subiu para o quarto para brincar. Na
                manhã seguinte, quando o pai foi verificar, o menino estava
                dormindo pacificamente e não havia bolinhas de pingue-pongue
                rosas à vista. Apenas a caixa vazia no meio do quarto.
              </p>

              <p class="card-text para-outline">
                No próximo aniversário do menino, seu pai perguntou novamente.
              </p>

              <p class="card-text para-outline">
                "Meu filho. Eu sou o homem mais rico do universo. Eu posso te
                comprar qualquer coisa que você queira para o seu aniversário. O
                que você gostaria?"
              </p>

              <p class="card-text para-outline">
                "Oh, pai. Eu seria o menino mais feliz do mundo se você pudesse
                me dar um caminhão cheio de bolinhas de pingue-pongue rosas."
              </p>

              <p class="card-text para-outline">
                Agora, a essa altura, o pai estava extremamente confuso. Por que
                o menino queria tantas bolinhas de pingue-pongue rosas e para
                onde elas estavam indo? Ele perguntou:
              </p>

              <p class="card-text para-outline">
                "Meu filho. Você é a coisa mais preciosa do mundo para mim e eu
                certamente posso te dar isso, mas posso perguntar por que você
                quer um caminhão cheio de bolinhas de pingue-pongue rosas?"
              </p>

              <p class="card-text para-outline">O menino respondeu.</p>

              <p class="card-text para-outline">
                "Meu pai. Por favor, me deixe aproveitar isso por mais um tempo.
                Eu lhe direi quando for o momento certo."
              </p>

              <p class="card-text para-outline">
                Seu pai concordou e pediu um caminhão cheio de bolinhas de
                pingue-pongue rosas. O menino disse:
              </p>

              <p class="card-text para-outline">
                "Meu pai, você me fez o menino mais feliz do mundo. Posso entrar
                no caminhão e passar a noite brincando com as bolinhas de
                pingue-pongue rosas?"
              </p>

              <p class="card-text para-outline">
                O pai concordou, e o menino passou a noite no caminhão. Na manhã
                seguinte, quando o pai foi verificar, todas as bolinhas de
                pingue-pongue rosas tinham desaparecido, e apenas o menino
                estava lá, dormindo na traseira do caminhão.
              </p>

              <p class="card-text para-outline">
                Poucos dias antes do próximo aniversário do menino, ele sofreu
                um grande acidente de carro e estava à beira da morte. Seu pai
                perguntou a ele.
              </p>

              <p class="card-text para-outline">
                "Meu filho. Eu sou o homem mais rico do universo. Eu poderia te
                comprar qualquer coisa que você quisesse para o seu aniversário.
                O que você gostaria?"
              </p>

              <p class="card-text para-outline">
                O menino respondeu com uma voz engasgada, obviamente se
                esforçando para falar apesar da dor.
              </p>

              <p class="card-text para-outline">
                "Meu pai... Eu seria o menino mais feliz... do mundo... se você
                pudesse me dar uma... bolinha... de pingue-pongue... rosa..."
              </p>

              <p class="card-text para-outline">Seu pai respondeu.</p>

              <p class="card-text para-outline">
                "Meu filho. Esta pode ser a última vez que eu falo com você.
                Você pode me dizer por que queria todas essas bolinhas de
                pingue-pongue rosas?"
              </p>

              <p class="card-text para-outline">
                "Tudo bem, pai. Chegue mais perto."
              </p>

              <p class="card-text para-outline">
                Seu pai assentiu, aproximando o rosto do filho. A voz do menino
                estava ficando mais fraca a essa altura, tossindo entre as
                palavras. Ainda assim, ele reuniu forças para uma última frase.
              </p>

              <p class="card-text para-outline">
                "O motivo pelo qual eu queria todas as bolinhas de pingue-pongue
                rosas é-"
              </p>

              <p id="fim" class="card-text text-white-underline para-outline">E então ele morreu.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container mt-4">
    <h1 class="luigi-font text-center">Nossos objetivos</h1>
    <div class="row">
      <div class="col-12">
        <ul class="list-group bg-success">
          <li class="list-group-item">
            <i class="fa-solid fa-music"></i>
            <strong class="text-decoration-underline"
              >Transformar vidas por meio da música:</strong
            >
            Proporcionar experiências enriquecedoras que inspirem alunos e suas
            famílias.
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-layer-group"></i>
            <strong class="text-decoration-underline"
              >Promover o desenvolvimento integral:</strong
            >
            Estimular habilidades técnicas, emocionais e artísticas para formar
            músicos completos.
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-crown"></i>
            <strong class="text-decoration-underline"
              >Ensinar com excelência:
            </strong>
            Oferecer métodos de ensino inovadores e eficazes, como o Técnicas
            Maestro 3000 e o Player Master.
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-shapes"></i>
            <strong class="text-decoration-underline"
              >Incentivar a criatividade e a expressão:
            </strong>
            Ajudar os alunos a encontrar sua voz única e explorar sua
            individualidade artística.
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-heart"></i>
            <strong class="text-decoration-underline"
              >Fomentar a paixão pela música:</strong
            >
            Criar um ambiente acolhedor e inspirador que desperte o amor pela
            arte musical.
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-hand-fist"></i>
            <strong class="text-decoration-underline"
              >Desenvolver a disciplina e a resiliência:
            </strong>
            Preparar os alunos para enfrentar desafios e superar limites
            pessoais por meio do aprendizado musical.
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-face-grin-squint"></i>
            <strong class="text-decoration-underline"
              >Conectar técnica e emoção:</strong
            >
            Ensinar a harmonia entre o domínio técnico do instrumento e a
            profundidade emocional da performance.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div class="text-center m-1">
    <a href="#!luigi_sings">
      <img
        style="width: 10%"
        src="public/animated/luigi_cowboy.gif"
        class="img-fluid"
        alt=""
      />
    </a>
  </div>
</div>
