<link rel="stylesheet" href="public/css/home.css" />

<div class="home-wrapper rounded m-1">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="public/imgs/guitar_class1.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="public/imgs/guitar_class3.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="public/imgs/guitar_class2.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="container mt-4">
    <div class="row d-flex">
      <div class="col-12 col-lg-4 mb-3">
        <div class="card h-100 d-flex flex-column shadow">
          <img
            src="public/imgs/card_image3.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <!-- <div class="icon-container">
              <i class="fa-solid fa-fire"></i>
            </div> -->
            <h4 class="text-center">
              Projetos Práticos para Colocar o Conhecimento em Ação!
            </h4>
            <p>
              Saia da teoria e mergulhe na prática! Nossos cursos incluem
              atividades e projetos que simulam cenários reais do mercado. Ao
              finalizar cada módulo, você terá a oportunidade de aplicar o que
              aprendeu e construir um portfólio impressionante. Dessa forma,
              você não só entende os conceitos como também demonstra sua
              capacidade de executá-los com excelência.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 mb-3">
        <div class="card h-100 d-flex flex-column shadow">
          <img
            src="public/imgs/card_image1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <!-- <div class="icon-container">
              <i class="fa-solid fa-fire"></i>
            </div> -->
            <h4 class="text-center">
              Material Exclusivo e Modelos ecológicos!
            </h4>
            <p>
              Atendemos clientes que se preocupam com o meio ambiente,
              oferecendo instrumentos ecológicos feitos de madeiras sustentáveis ​​ou 
              recuperadas, embaladas em materiais recicláveis. Além disso,
              Ao se inscrever, você terá acesso a uma vasta biblioteca de
              recursos complementares. São e-books, artigos, modelos prontos e
              ferramentas que vão enriquecer sua experiência de aprendizado.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 mb-3">
        <div class="card h-100 d-flex flex-column shadow">
          <img
            src="public/imgs/card_image2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <!-- <div class="icon-container">
              <i class="fa-solid fa-fire"></i>
            </div> -->
            <h4 class="text-center">Suporte Dedicado para Alunos!</h4>
            <p>
              Você nunca estará sozinho em sua jornada de aprendizado. Nossa
              equipe de suporte inclui professores qualificados e tutores
              preparados para tirar suas dúvidas, orientar seus estudos e ajudar
              você a superar qualquer desafio. Disponível por chat, e-mail ou
              fóruns de discussão, o suporte é rápido, humano e focado no seu
              sucesso.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-success text-center text-white mx-lg-4 p-2 px-lg-5 rounded">
    <div class="d-flex flex-row justify-content-center">
      <i class="fa-duotone fa-solid fa-guitar fa-2x"></i>
      <h2 class="luigi-font mx-2">Aluno do Luigi</h2>
      <i class="fa-duotone fa-solid fa-guitar fa-2x"></i>
      
    </div>
    <div class="ratio ratio-16x9">
      <iframe
        class="object-fit-contain"
        src="https://www.youtube.com/embed/Y-33v7bJLIc"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

  </section>

  <div class="text-center m-1">
    <a href="#!luigi_sings">

      <img
        style="width: 10%"
        src="public/animated/luigi_cowboy.gif"
        class="img-fluid"
        alt=""
      />
    </a>
  </div>


  <!-- <footer class="bg-light text-center py-3">
    <p>Créditos da página</p>
  </footer> -->
</div>
