<link rel="stylesheet" href="public/css/plans.css" />

<div class="home-wrapper rounded m-1">
  <div style="height: 1px"></div>
  <h1 class="text-center luigi-font mt-3">Planos</h1>

  <section class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex">
      <!-- ROW 1 -->
      <!-- Goomba -->
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div
          class="card h-100 d-flex flex-column shadow border border-5 border-warning"
        >
          <img
            src="public/imgs/goomba_card.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1 class="text-center luigi-font">Plano Goomba</h1>

            <div class="list-group">
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Conteúdo:</h5>
                <p class="mb-1">Introdutório</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Horas:</h5>
                <p class="mb-1">20 horas de aula</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Recursos:</h5>
                <p class="mb-1">1 instrumento disponível</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Ideal para:</h5>
                <p class="mb-1">
                  Quem quer dar os primeiros passos e conhecer o básico.
                </p>
              </div>
            </div>

            <div class="position-absolute bottom-0 start-50 translate-middle">
              <button
                class="button luigi-font"
                data-bs-toggle="modal"
                data-bs-target="#cartaoCreditoModal"
              >
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Koopa -->
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div
          class="card h-100 d-flex flex-column shadow border border-5 border-warning"
        >
          <img
            src="public/imgs/koopa_card.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1 class="text-center luigi-font">Plano Koopa</h1>

            <div class="list-group">
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Conteúdo:</h5>
                <p class="mb-1">
                  Teoria e prática para quem busca mais consistência.
                </p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Horas:</h5>
                <p class="mb-1">40 horas de aula</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Recursos:</h5>
                <p class="mb-1">2 instrumentos disponíveis</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Diferencial:</h5>
                <p class="mb-1">
                  Desafios semanais para aprimorar habilidades.
                </p>
              </div>
            </div>

            <div class="position-absolute bottom-0 start-50 translate-middle">
              <button
                class="button luigi-font"
                data-bs-toggle="modal"
                data-bs-target="#cartaoCreditoModal"
              >
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Yoshi -->
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div
          class="card h-100 d-flex flex-column shadow border border-5 border-warning"
        >
          <img
            src="public/imgs/yoshi_card.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="position-absolute top-0 start-0">
              <span class="badge text-bg-success">Novo</span>
            </h2>
            <h1 class="text-center luigi-font">
              Plano Yoshi <span class="badge text-bg-success">NEW</span>
            </h1>

            <div class="list-group">
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Conteúdo:</h5>
                <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >NOVO!!!</span
            ><span
            class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger"
            >NOVO!!!</span
          >
                <p class="mb-1">
                  Técnicas práticas com foco em tocar músicas animadas e
                  populares.
                </p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Horas:</h5>
                <p class="mb-1">50 horas de aula</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Recursos:</h5>
                <span
              class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger"
              >NOVO!!!</span
            >
            <span
              class="position-absolute top-0 start-70 translate-middle badge rounded-pill bg-danger"
              >NOVO!!!</span
            >
                <p class="mb-1">3 instrumentos</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Diferencial:</h5><span
                class="position-absolute top-0 start-15 badge rounded-pill bg-danger"
                >NOVO!!!</span
              >
                <p class="mb-1">Material interativo e atividades em grupo.</p>
              </div>
            </div>

            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >NOVO!!!</span
            >
            <div class="position-absolute bottom-0 start-50 translate-middle">
              <button
                class="button luigi-font"
                data-bs-toggle="modal"
                data-bs-target="#cartaoCreditoModal"
              >
                Comprar
                <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >NOVO!!!</span
            >
              </button>
              
            </div>
            
          </div>
        </div>
      </div>

      <!-- ROW 2 -->
      <!-- Bowser -->
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div
          class="card h-100 d-flex flex-column shadow border border-5 border-warning"
        >
          <img
            src="public/imgs/bowser_card.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1 class="text-center luigi-font">Plano Bowser</h1>

            <div class="list-group">
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Conteúdo:</h5>
                <p class="mb-1">
                  Exploração de técnicas avançadas e improvisação.
                </p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Horas:</h5>
                <p class="mb-1">80 horas de aula</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Recursos:</h5>
                <p class="mb-1">
                  3 instrumentos personalizáveis para os objetivos do aluno.
                </p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Diferencial:</h5>
                <p class="mb-1">
                  Sessões individuais para aprimoramento técnico.
                </p>
              </div>
            </div>

            <div class="position-absolute bottom-0 start-50 translate-middle">
              <button
                class="button luigi-font"
                data-bs-toggle="modal"
                data-bs-target="#cartaoCreditoModal"
              >
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Mario -->
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div
          class="card h-100 d-flex flex-column shadow border border-5 border-danger"
        >
          <img
            src="public/imgs/mario_card.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1 class="text-center luigi-font">Plano Mario</h1>

            <div class="list-group">
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Conteúdo:</h5>
                <p class="mb-1">
                  Foco em performance e construção de repertório para
                  apresentações.
                </p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Horas:</h5>
                <p class="mb-1">100 horas de aula</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Recursos:</h5>
                <p class="mb-1">3 instrumentos + mentor exclusivo.</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Diferencial:</h5>
                <p class="mb-1">
                  Participação em mini apresentação ao final do plano.
                </p>
              </div>
            </div>

            <div class="position-absolute bottom-0 start-50 translate-middle">
              <button
                class="button luigi-font"
                data-bs-toggle="modal"
                data-bs-target="#cartaoCreditoModal"
              >
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Luigi -->
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div
          class="card h-100 d-flex flex-column shadow border border-5 border-success"
        >
          <img
            src="public/imgs/luigi_card.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1 class="text-center luigi-font text-animation">Plano Luigi</h1>

            <div class="list-group">
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Conteúdo:</h5>
                <p class="mb-1">
                  Produção musical, composição e técnicas de alta performance.
                </p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Horas:</h5>
                <p class="mb-1">150 horas de aula</p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Recursos:</h5>
                <p class="mb-1">
                  Todos os instrumentos disponíveis, com acesso ilimitado ao
                  estúdio + <strong>LUIGI VAI TE DAR AULA PESSOALMENTE</strong>.
                </p>
              </div>
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <h5 class="mb-1">Diferencial:</h5>
                <p class="mb-1">
                  Produção de uma música autoral gravada e mixada
                  profissionalmente.
                </p>
              </div>
            </div>

            <div class="position-absolute bottom-0 start-50 translate-middle">
              <button
                class="button luigi-font"
                data-bs-toggle="modal"
                data-bs-target="#cartaoCreditoModal"
              >
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center m-1">
      <a href="#!luigi_sings">
        <img
          style="width: 10%"
          src="public/animated/luigi_cowboy.gif"
          class="img-fluid"
          alt=""
        />
      </a>
    </div>

    <!-- Modal -->

    <div
      class="modal fade"
      id="cartaoCreditoModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header inline d-inline">
            <p>
              <small style="color: rgb(176, 176, 176)"
                >(me de todas as suas)</small
              >
            </p>
            <h1
              style="color: black"
              class="modal-title fs-5"
              id="exampleModalLabel"
            >
              Informações do seu cartao de crédito
            </h1>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body">
            <form id="formCartaoCredito">
              <div class="mb-3">
                <label for="numeroCartao" class="form-label text-black"
                  >Número do Cartão</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="numeroCartao"
                  placeholder="#### #### #### ####"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="nomeTitular" class="form-label text-black"
                  >Nome do Titular</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nomeTitular"
                  placeholder="Nome do Titular"
                  required
                />
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validadeCartao" class="form-label text-black"
                    >Validade (MM/AA)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="validadeCartao"
                    placeholder="MM/AA"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="codigoSeguranca" class="form-label text-black"
                    >Código de Segurança</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="codigoSeguranca"
                    placeholder="CVV"
                    required
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="enderecoCobertura" class="form-label text-black"
                  >Endereço de Cobrança</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="enderecoCobertura"
                  placeholder="Endereço de Cobrança"
                  required
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Confirmar
            </button> -->
            <button type="button" class="btn btn-success">CONFIRMAR</button>
            <button type="button" class="btn btn-success">CONFIRMAR</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
