<link rel="stylesheet" href="public/css/teacher.css" />

<div class="home-wrapper rounded m-1">
  <div style="height: 1px"></div>
  <h1 class="text-center luigi-font mt-3">Professores</h1>
  <section class="container mt-4">
    <!-- ROW 1 -->
    <div class="row d-flex justify-content-center flex-wrap">
        <!-- Luigi -->
        <div class="col-12 d-flex justify-content-center flex-wrap">
            <div class="card mb-4" style="width: 18rem">
              <img
                src="public/imgs/real-luigui.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h2 class="card-title fw-bold luigi-font">Luigi</h2>
                <p class="card-text">Deus</p>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseLuigi-telefone"
                        aria-expanded="false"
                        aria-controls="flush-collapseLuigi-telefone"
                      ><i class="fa-solid fa-phone me-1"></i>
                        Telefone
                      </button>
                    </h2>
                    <div
                      id="flush-collapseLuigi-telefone"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">Todo mundo quer</div>
                    </div>
                  </div>
    
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseLuigi-email"
                        aria-expanded="false"
                        aria-controls="flush-collapseLuigi-email"
                      ><i class="fa-solid fa-envelope me-1"></i>
                        Email
                      </button>
                    </h2>
                    <div
                      id="flush-collapseLuigi-email"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">luiginumero1@gmail.com</div>
                    </div>
                  </div>
                </div>
              </div>
              <div href="#" class="luigi">.</div>
            </div>
          </div>
    </div>

    <!-- ROW 2 -->
    <div class="row d-flex justify-content-around flex-wrap">
      <!-- Yoshi -->
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img
            src="public/imgs/yoshi_pfp.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="card-title fw-bold luigi-font">Yoshi</h2>
            <p class="card-text">Olha ele</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-yoshi"
                    aria-expanded="false"
                    aria-controls="flush-yoshi"
                  ><i class="fa-solid fa-phone me-1"></i>
                    Telefone
                  </button>
                </h2>
                <div
                  id="flush-yoshi"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">Y0581</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapsYoshi_mail"
                    aria-expanded="false"
                    aria-controls="flush-collapsYoshi_mail"
                  ><i class="fa-solid fa-envelope me-1"></i>
                    Email
                  </button>
                </h2>
                <div
                  id="flush-collapsYoshi_mail"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">yoshi@gmail.com</div>
                </div>
              </div>
            </div>
          </div>
          <div href="#" class="yoshi">.</div>
        </div>
      </div>

      <!-- Waluigi -->
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img src="public/imgs/waluigi.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2 class="card-title fw-bold luigi-font">WaLuigi</h2>
            <p class="card-text">Profissional em violão e piano</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapsewaluigi"
                    aria-expanded="false"
                    aria-controls="flush-collapsewaluigi"
                  ><i class="fa-solid fa-phone me-1"></i>
                    Telefone
                  </button>
                </h2>
                <div
                  id="flush-collapsewaluigi"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">WAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapsewaluigi_email"
                    aria-expanded="false"
                    aria-controls="flush-collapsewaluigi_email"
                  ><i class="fa-solid fa-envelope me-1"></i>
                    Email
                  </button>
                </h2>
                <div
                  id="flush-collapsewaluigi_email"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">WAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA@gmail.com</div>
                </div>
              </div>
            </div>
          </div>
          <div href="#" class="waluigi">.</div>
        </div>
      </div>
    </div>

    <!-- ROW 3 -->
    <div class="row d-flex justify-content-around flex-wrap">
      <!-- Toad -->
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img src="public/animated/toad_pfp.gif" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2 class="card-title fw-bold luigi-font">Toad</h2>
            <p class="card-text">Ele dança muito bem :></p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseToad"
                    aria-expanded="false"
                    aria-controls="flush-collapseToad"
                  ><i class="fa-solid fa-phone me-1"></i>
                    Telefone
                  </button>
                </h2>
                <div
                  id="flush-collapseToad"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">Quebrou</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseToadmail"
                    aria-expanded="false"
                    aria-controls="flush-collapseToadmail"
                  ><i class="fa-solid fa-envelope me-1"></i>
                    Email
                  </button>
                </h2>
                <div
                  id="flush-collapseToadmail"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">Groom Lake, em Nevada US, 83 milhas de Las Vegas</div>
                </div>
              </div>
            </div>
          </div>
          <div href="#" class="toad">.</div>
        </div>
      </div>

      <!-- Koopa -->
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img src="public/imgs/koopa_pfp.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2 class="card-title fw-bold luigi-font">Koopa</h2>
            <p class="card-text">Faz as coisas chatas de economia e as coisas de atender cliente e pa</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseKoopa"
                    aria-expanded="false"
                    aria-controls="flush-collapseKoopa"
                  ><i class="fa-solid fa-phone me-1"></i>
                    Telefone
                  </button>
                </h2>
                <div
                  id="flush-collapseKoopa"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">(61) 3412-5052</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseKoopaMail"
                    aria-expanded="false"
                    aria-controls="flush-collapseKoopaMail"
                  ><i class="fa-solid fa-envelope me-1"></i>
                    Email
                  </button>
                </h2>
                <div
                  id="flush-collapseKoopaMail"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">receitafederal@gmail.com</div>
                </div>
              </div>
            </div>
          </div>
          <div href="#" class="koopa">.</div>
        </div>
      </div>

      <!-- Bob -->
      <div class="col-12 col-md-12 col-lg-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img src="public/imgs/bob_pfp.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2 class="card-title fw-bold luigi-font">Bob</h2>
            <p class="card-text">Bob</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    Bob
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body"><i class="fa-solid fa-phone me-1"></i>Telefone</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  >
                    Bob
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body"><i class="fa-solid fa-envelope me-1"></i>Email</div>
                </div>
              </div>
            </div>
          </div>
          <div href="#" class="bob">.</div>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center m-1">
    <a href="#!luigi_sings">
      <img
        style="width: 10%"
        src="public/animated/luigi_cowboy.gif"
        class="img-fluid"
        alt=""
      />
    </a>
  </div>

</div>
