:root {
  --dark_green: #45b245;
  --luigi_green: #40e54f;
  --luigi_blue: #0044ff;
  --luigi_pants: #3b5bf2;
  --soft_green: #22b24c;
}

.history-wrapper {
  background: var(--luigi_green) !important;
}

.para-outline {
  -webkit-text-stroke: 1px black;
  font-weight: 1000;
}

.we-scroll{
  overflow-y: scroll;
  max-height: 550px;
  height: 100%;
}

.text-white-underline {
  text-decoration: underline;
  text-decoration-color: white; /* Cor do sublinhado */
}

@media (max-width: 800px) {
  .we-scroll {
    max-height: 450px; 
  }
}

@media (max-width: 380px) {
  .we-scroll {
    max-height: 300px; 
  }
}