:root{
    --dark_green: #45b245;
    --luigi_green: #40e54f;
    --luigi_blue: 	#0044ff;
    --luigi_pants: #3b5bf2;
    --soft_green: #22B24C;
}


img{
    max-height: 1000px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
  }
  
  .icon-container i {
    font-size: 48px; 
    color: var(--dark_green);
  }

