:root {
    --dark_green: #45b245;
    --luigi_green: #40e54f;
    --luigi_blue: #0044ff;
    --luigi_pants: #3b5bf2;
    --soft_green: #22B24C;

}

html,
body {
    height: 100%;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: linear-gradient(var(--soft_green), var(--luigi_green));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand {
    font-family: 'New Super Mario Font U', sans-serif;
}

.navbar {
    background-color: var(--luigi_green) !important;
    font-family: 'New Super Mario Font U', sans-serif;
}

.navbar-nav {
    background-color: var(--luigi_green) !important;
}

.offcanvas-header {
    background-color: var(--luigi_green) !important;
}

.offcanvas {
    font-family: 'New Super Mario Font U', sans-serif;
    background-color: var(--dark_green) !important;
    background-image: url('../animated/luigui-dance.gif');
}

.nav-link {
    color: var(--luigi_blue);
}

.nav-link:hover {
    color: white;
}

.navbar-icon {
    height: 50px;
}

.secret {
    color: var(--luigi_green) !important;
}

.home-wrapper {
    background-color: var(--luigi_pants);
    color: white;
}

.luigi-font {
    font-family: 'New Super Mario Font U', sans-serif !important;
}