:root{
  --dark_green: #45b245;
  --luigi_green: #40e54f;
  --luigi_blue: 	#0044ff;
  --luigi_pants: #3b5bf2;
  --soft_green: #22B24C;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: var(--luigi_green)}
  
  .button:active {
    background-color: var(--dark_green);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .card{
    margin-bottom: 100px;
  }
  .badge, .circle{
    background-image: linear-gradient(var(--luigi_green), var(--soft_green)) !important;
  }

  .text-animation{
    animation: change-color-anim 20s linear infinite;
  }


  @keyframes change-color-anim {
    0%,100%{
      color: #ff4500;
    }
    50%{
      color: #7fff00;
    }
  }