:root {
  --dark_green: #45b245;
  --luigi_green: #40e54f;
  --luigi_blue: #0044ff;
  --luigi_pants: #3b5bf2;
  --soft_green: #22b24c;
}

.card {
    border:none;
    text-align: center;
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    box-shadow: 0px 0px 10px teal;
  }
  .card img {
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    border-bottom-left-radius: 10em;
    border-bottom-right-radius: 10em;
  }
  .luigi {
    width: 100%;
    padding: 0.75em 0.5em;
    border-radius: 0;
    background-color: var(--luigi_green);
    border-color: var(--luigi_green);
  }
  .yoshi {
    width: 100%;
    padding: 0.75em 0.5em;
    border-radius: 0;
    background-color: green;
    border-color: green;
  }
  .waluigi {
    width: 100%;
    padding: 0.75em 0.5em;
    border-radius: 0;
    background-color: plum;
    border-color: rgb(255, 255, 255);
  }
  .toad {
    width: 100%;
    padding: 0.75em 0.5em;
    border-radius: 0;
    background-color: rgb(255, 62, 62);
    border-color: plum;
  }
  .koopa {
    width: 100%;
    padding: 0.75em 0.5em;
    border-radius: 0;
    background-color: yellow;
    border-color: yellow;
  }
  .bob {
    width: 100%;
    padding: 0.75em 0.5em;
    border-radius: 0;
    background-color: grey;
    border-color: grey;
  }


  @media (max-width: 576px) {
    .card {
        border-top-left-radius: 20em;
        border-top-right-radius: 20em;
      }
      .card img {
        border-top-left-radius: 20em;
        border-top-right-radius: 20em;
        border-bottom-left-radius: 20em;
        border-bottom-right-radius: 20em;
      }
  }

  @media (max-width: 768px) {
    .card {
        border-top-left-radius: 20em;
        border-top-right-radius: 20em;
      }
      .card img {
        border-top-left-radius: 20em;
        border-top-right-radius: 20em;
        border-bottom-left-radius: 20em;
        border-bottom-right-radius: 20em;
      }
  }

  @media (max-width: 768px) {
    .card {
        border-top-left-radius: 40em;
        border-top-right-radius: 40em;
      }
      .card img {
        border-top-left-radius: 40em;
        border-top-right-radius: 40em;
        border-bottom-left-radius: 40em;
        border-bottom-right-radius: 40em;
      }
  }

  @media (max-width: 992px) {
    .card {
        border-top-left-radius: 80em;
        border-top-right-radius: 80em;
      }
      .card img {
        border-top-left-radius: 80em;
        border-top-right-radius: 80em;
        border-bottom-left-radius: 80em;
        border-bottom-right-radius: 80em;
      }
  }

  @media (max-width: 1200px) {
    .card {
        border-top-left-radius: 500em;
        border-top-right-radius: 500em;
      }
      .card img {
        border-top-left-radius: 500em;
        border-top-right-radius: 500em;
        border-bottom-left-radius: 500em;
        border-bottom-right-radius: 500em;
      }
  }